﻿@{
    ViewData["Title"] = "Home Page";
}

<div id="searchForm">
    <span class="search">Enter City Name</span>
    <input type="text" class="form-control" id="cityName" style="width: 50% !important;" placeholder="City">
    <select class="form-control" id="temperatureScale">
        <option>Kelvin</option>
        <option>Celsius</option>
        <option>Fahrenheits</option>
    </select>
    <span style="float:right; width: 10% !important;"><button type="button" class="btn btn-default searchButton">Search</button></span>


    <table id="forecast" class="display">
        <thead>
            <tr>
                <th>City</th>
                <th>Temp scale</th>
                <th>Date</th>
                <th>Temperature</th>
                <th>Min temperature</th>
                <th>Max temperature</th>
                <th>Pressure</th>
                <th>Humidity</th>
                <th>Wind speed</th>
                <th>Wind degree</th>
                <th>Clouds</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>

<div id="spinner" class="lds-dual-ring" style="visibility: hidden"></div>