﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.search {
    font-family: cursive;
    font-weight: bold;
    font-size: 20px;
}

input[type=text] {
    width: 50% !important;
    display: inline !important;
    font-family: cursive;
    margin: 0px 20px;
}

select {
    width: 15% !important;
    display: inline !important;
    font-family: cursive;
}

.searchButton {
    display: inline !important;
    width: 100% !important;
    font-family: cursive;
    background-color: #ccc;
    border-color: #868282;
}

.lds-dual-ring {
    display: inline-block;
    width: 64px;
    height: 64px;
}

    .lds-dual-ring:after {
        content: " ";
        display: block;
        width: 46px;
        height: 46px;
        margin: 1px;
        border-radius: 50%;
        border: 5px solid #fff;
        border-color: #2379c3 transparent #2379c3 transparent;
        animation: lds-dual-ring 1.2s linear infinite;
    }

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#forecast {
    margin-top: 25px;
}

#spinner {
    float: left;
}
